@import "tailwindcss";

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Logo 32px */
h1 {
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-style: normal;
}

/*  headings: 28px, bold
    page title: 20px, bold
*/
h2, h3 {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 700;
    font-style: normal;
}

/*  title: 18px, medium
    total amount: 20px, semibold
    menus: 18px, medium
    price: 18px, semibold
    body: 16px, regular
    button: 16px, semibold*/
button, a, p, input, span {
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a.active, p.active:first-child {
    font-weight: bold;
}

.category-one {
    background-image: url(./assets/images/home-category-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-two {
    background-image: url(./assets/images/home-category-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-three {
    background-image: url(./assets/images/home-category-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-four {
    background-image: url(./assets/images/home-category-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
